<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>service</title>
</head>
<body ng-app="bookModule" ng-controller="bookController">
原文链接：<a href="http://angularjs.cn/A0kK">angularjs service</a>

<hr>
<button ng-click="addBook()">Add book</button>
<ul>
    <li ng-repeat="book in books">
        <p>title: {{book.title}}</p>
        <p>author: {{book.author}}</p>
    </li>
</ul>

<script src="../bower_components/angular/angular.js"></script>
<script>
    // 假设这个模块用来管理图书
    var bookModule = angular.module("bookModule", []);

    // 创建一个管理图书的Service
    bookModule.service('bookService', ['$rootScope', function ($rootScope) {
        var service = {
            books: [
                {title: "Magician", author: "Raymond E. Feist"},
                {title: "The Hobbit", author: "J.R.R Tolkien"}
            ],

            addBook: function (book) {
                service.books.push(book);
                // 把图书更新这个消息广播出去
                $rootScope.$broadcast('books.update');
            }
        };
        return service;
    }]);

    // 创建一个controller, 把Book这个Service传过来
    bookModule.controller("bookController", ['$scope', 'bookService', function ($scope, bookService) {
        $scope.books = bookService.books;

        $scope.addBook = function () {
            bookService.addBook({title: "Star Wars", author: "George Lucas"});
        };

        // 收到广播后，将scope中的books数组与Service中的books数组同步
        $scope.$on('books.update', function (event) {
            $scope.books = bookService.books;
        });
    }]);
</script>
</body>
</html>