<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-repeat-trackby</title>
    <style>
        .red {
            color: red;
        }
    </style>
</head>
<body ng-app="myApp">
<input type="text" name="" id="" ng-model="lastname">
<ul ng-controller="repeatController">
    <li ng-repeat="user in users track by $index" ng-class="{red: lastname!=''&&user.startsWith(lastname)}">
        <strong>name: {{user}}</strong>
    </li>
</ul>

<script src="../bower_components/angular/angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('repeatController', ['$scope', function ($scope) {
        $scope.users = ['zhangsan', 'lisi', 'wangwu', 'zhangsan'];
    }]);
</script>
</body>
</html>